#foo {
    width: 100px;
    height: 100px;
    background: red;

    animation-name: bgChange;
    animation-duration: 3s;
    animation-fill-mode : forwards;
}

@keyframes bgChange {
    0% {

    }

    100% {
        background: green;
    }
}
